@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.canvas-linked-height{
    /*height:  !important;*/
    height: 30vh !important; 
}

/*.canvas-distribution{
    width: 3fr !important;
}

.canvas-cumulative{
    width: 1fr !important;
}*/

/* Main Container */
#main_container {
    transition: margin-left 0.5s ease; /* Smooth transition */
    width: 100%; /* Adjust width to fill the space */
    overflow-x: auto; /* Prevent horizontal scrolling */
}

#main_container.expanded {
    margin-left: 50px; /* Remove left margin to fill the space */
    width: 2000px; /* Adjust width to fill the space */
    transition: margin-left 0.5s ease; /* Smooth transition */
}



/* Content Container */
#contentContainer {
    min-height: 100vh; /* Adjust height to fill the space */
    transition: margin-left 0.5s ease; /* Smooth transition */
}

#contentContainer.shifted {
    margin-left: 0px; /* Adjust the margin when sidebar is collapsed */
    transition: margin-left 0.5s ease; /* Smooth transition */
}

#main_container {
    padding-left: 0; /* Align content properly */
}

body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Content */
#content{
    background-color: #7a5b3e00;
    border-radius: 10px;
    padding-top: 30px;
}

/* Header */
#header {
    display: flex;           /* Enable Flexbox */
    align-items: center;     /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: #02b7ff0b;
    border-radius: 10px;
    height: 70px;           /* Adjust height as needed */
    margin-top: 55px;
}

#header_text {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 30px;
    color: #00000071;
}


/* Footer */

.red-text{
    color: red;
}

.btn-outline-primary{
    border-color: rgb(173, 173, 173) !important;
    color: rgb(173, 173, 173) !important;
}

.btn-outline-primary:hover{
    background-color: rgb(173, 173, 173) !important;
    color: white !important;
}

.error{
    color: red !important;
    text-align: center !important;
}

#main_container{
    min-height: 100vh;  
}

#upper_row{
    min-height: 5vh;
    background-color: #a28282;
    border-style: solid;
    border-color: #7C7C7C;
    border-width: 0px 0px 0.1px 0px;
    padding: 2% 0% 2% 0%;
}

#main_row{
    min-height: 95vh;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    #main_container {
        width: auto; /* Adjust width to fill the space */
        height: 100%;
    }

    #main_container.expanded {
        margin-left: 25px; /* Remove left margin to fill the space */
        width: 125%; /* Adjust width to fill the space */
    }

    #contentContainer {
        min-height: 100vh; /* Adjust height to fill the space */
        transition: margin-left 0.5s ease; /* Smooth transition */
        overflow: auto;
    }

    #contentContainer.shifted {
        margin-left: 5px; /* Adjust the margin when sidebar is collapsed */
        transition: margin-left 0.5s ease; /* Smooth transition */
        overflow: auto;
    }

}

/* Mobile Responsive */
@media (max-width: 400px) {
    #main_container {
        width: 100%; /* Adjust width to fill the space */
        height: 100%;
        overflow: visible;
    }

    #main_container.expanded {
        margin-left: 25px; /* Remove left margin to fill the space */
        width: 125%; /* Adjust width to fill the space */
    }

    #contentContainer {
        min-height: 100vh; /* Adjust height to fill the space */
        transition: margin-left 0.5s ease; /* Smooth transition */
        overflow: auto;
    }

    #contentContainer.shifted {
        margin-left: 5px; /* Adjust the margin when sidebar is collapsed */
        transition: margin-left 0.5s ease; /* Smooth transition */
        overflow: auto;
    }

}