{% extends 'partials/base.html' %}

{% block optionalscript %}
<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const contentContainer = document.getElementById('contentContainer');
        const main_container = document.getElementById('main_container');
        const topbarContainer = document.getElementById('topbarContainer');

        sidebar.classList.toggle('collapsed');
        contentContainer.classList.toggle('shifted');
        main_container.classList.toggle('expanded');
        topbarContainer.classList.toggle('expanded');
    }
</script>
{% endblock %}

{% block body %}
<div id="main_container" class="container-fluid">
    <div class="row">
        <!-- Left Sidebar Navigation -->
        <div id="sidebar" class="col-md-2 col-sm-3 position-fixed" style="height: 100vh; padding-top: 3.5rem;">
            {% block nav_bar %}
                {% include 'partials/navbar.html' %}
            {% endblock %}
        </div>

        <!-- Main Content Area -->
        <div id="contentContainer" class="col-md-10 offset-md-2 col-sm-9 offset-sm-3">
            <div id="topbarContainer">
                {% block top_bar %}
                    {% include 'partials/topbar.html' %}
                {% endblock %}
            </div>
            <div id="header" class="py-3">
                {% block header %}{% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
