<div id="navbar" class="container position-sticky top-0"> 
    <div class="row align-items-center">
        <div class="col">
            <ul class="navigation_list">
                <li><a href="{% url 'feed' %}">Home</a></li>
                <li><a href="{% url 'spending_history' timefilter='All' categoryfilter='All' cyclefilter='Current' %}">Spending history</a></li>
                <li><a href="{% url 'regular_spendings_chart' %}">Upcoming spendings</a></li>
                <li><a href="{% url 'spending_by_category' %}">Spending by category</a></li>
                <li><a href="{% url 'point_history' timefilter='All' categoryfilter='All' %}">Point awards and achievements</a></li>
            </br>
            </br>
                <li><a href="{% url 'category_management_dashboard' %}">Manage spending categories</a></li>
            </ul>
        </div>
    </div>
</div>

