<!-- Top Navigation Bar -->
<div id="topbar" class="container-fluid p-2 d-flex align-items-center"
     style="position: sticky; top: 0; width: 100%; z-index: 1000;">
    <!-- Sidebar Toggle Button on the Left -->
    <div class="col-auto">
        <button id="toggleSidebarButton" class="btn btn-link p-0" onclick="toggleSidebar()" style="margin-right: 10px;">
            <i class="bi bi-list" style="font-size: 1.5rem; color: #000;"></i>
        </button>
    </div>
    
    <!-- Spacer to push the account dropdown to the far right -->
    <div class="flex-grow-1"></div>
    
    <!-- User Account Dropdown on the Right -->
    <div class="col-auto">
        {% if request.user.is_authenticated %}
        <div class="dropdown show">
            <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person-circle"></i> <span>{{ request.user }} - Account</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'log_out' %}">Log Out</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>



