@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.canvas-linked-height{
    /*height:  !important;*/
    height: 30vh !important; 
}

/*.canvas-distribution{
    width: 3fr !important;
}

.canvas-cumulative{
    width: 1fr !important;
}*/

/* Main Container */
#main_container {
    transition: margin-left 0.5s ease; /* Smooth transition */
    width: 100%; /* Adjust width to fill the space */
}

#main_container.expanded {
    margin-left: 0; /* Remove left margin to fill the space */
    width: 2100px; /* Adjust width to fill the space */
    transition: margin-left 0.5s ease; /* Smooth transition */
}

/* Content Container */
#contentContainer {
    transition: margin-left 0.5s ease; /* Smooth transition */
}

#contentContainer.shifted {
    margin-left: 10px; /* Adjust the margin when sidebar is collapsed */
    transition: margin-left 0.5s ease; /* Smooth transition */
}


/*Sidebar*/

#sidebar {
    height: 100vh;
    width: 100%;
    background-color: #00c3ff78; /* Light background */
    position: fixed;
    z-index: 1000; /* Ensure it appears above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.188);
    transition: margin-left 0.5s ease; /* Smooth transition */
}

#sidebar.collapsed {
    margin-left: -300px; /* Adjust the margin when sidebar is collapsed */
    transition: margin-left 0.5s ease; /* Smooth transition */
}

#toggleSidebarButton {
    position: sticky;
    margin: auto; /* Center the button */
    background-color: #00c3ff00; /* Blue background */
    color: white; /* White text color */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a pointer cursor on hover */
    z-index: 1001; /* Ensure it appears above other elements */
}


#main_container {
    padding-left: 0; /* Align content properly */
}

body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Topbar styling */

#topbar {
    background-color: #00c3ff5a;
    color: #0080ff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Content */
#content{
    background-color: #7a5b3e00;
    border-radius: 10px;
    padding-top: 30px;
}

/* Header */
#header {
    display: flex;           /* Enable Flexbox */
    align-items: center;     /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: #02b7ff0b;
    border-radius: 10px;
    height: 70px;           /* Adjust height as needed */
}

#header_text {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 30px;
    color: #00000071;
}


/* Footer */

.red-text{
    color: red;
}

.btn-outline-primary{
    border-color: rgb(173, 173, 173) !important;
    color: rgb(173, 173, 173) !important;
}

.btn-outline-primary:hover{
    background-color: rgb(173, 173, 173) !important;
    color: white !important;
}

.error{
    color: red !important;
    text-align: center !important;
}

#main_container{
    min-height: 100vh;  
}

#upper_row{
    min-height: 5vh;
    background-color: #a28282;
    border-style: solid;
    border-color: #7C7C7C;
    border-width: 0px 0px 0.1px 0px;
    padding: 2% 0% 2% 0%;
}

#main_row{
    min-height: 95vh;
}

/* Navbar */

.nav-bar-col{
    border-style: solid;
    border-color: #7C7C7C;
    border-width: 0px 0.1px 0px 0px;
    padding: 2% 0% 2% 0%;
}

#navbar{
    transition: transform 0.3s ease;
    position: sticky;
    border-style: solid;
    border: 50px;
    background-color: rgba(0, 106, 255, 0);
    width: 100%;
    height: 100%;
}

p{
    text-align: justify;
}

.navigation_list{
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins'; 
    font-size: 15px;
}

.navigation_list a{
    text-decoration: none !important;
}

.navigation_list li{
    line-height: 38px;
    padding: 3% 10% 5% 10%;
    margin-top: 1.5em;
    margin-bottom: 4em;
}

.navigation_list li:hover{
    color: #FFFFFF !important;
    background: rgba(0, 206, 213, 0.48);
    border-radius: 4px;
}

.navigation_list li a{
    color: #626262a8;
    font-size: 15px;
}

.navigation_list li:hover a{
    color: #FFFFFF;
}

h1{
    font-family: 'Poppins';
    font-weight: 800;
}

h7{
    font-family: 'Poppins';
    font-weight: 800;
}

#toggle-button {
    margin-left: auto; /* Push the button to the right */
}
