{% comment %} {% extends 'partials/main_layout_template.html' %}
{% block header %}
<h1 id="header_text">Add Category</h1>
{% endblock %}

{% block content %}
  <div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
      {% if field.name != 'frequency' and field.name != 'next_due_date' and field.name != 'is_regular' %}
        <div class="mb-3">
          {{ field.label_tag }}
          {{ field }}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}


    {% comment %} <div id="hidden_fields" style="display: none">
      {{ form.frequency.label_tag }}
      {{ form.frequency }}
      {{ form.next_due_date.label_tag }}
      {{ form.next_due_date }}
    </div> {% endcomment %}

    <br><button type="submit" class="btn btn-primary">Add Category</button>
  </form>
</br>
</br>

  {% comment %} <script>
    document.addEventListener('DOMContentLoaded', function() {
      const frequencyReccuringCheckbox = document.getElementById('id_is_regular');
      const hiddenFields = document.getElementById('hidden_fields');

      if (frequencyReccuringCheckbox.checked) {
        hiddenFields.style.display = 'block';
      } else {
        hiddenFields.style.display = 'none';
      }

      frequencyReccuringCheckbox.addEventListener('change', function() {
        if (frequencyReccuringCheckbox.checked) {
          hiddenFields.style.display = 'block';
        } else {
          hiddenFields.style.display = 'none';
        }
      });
    });
  </script> {% endcomment %}

</div>
{% endblock %} {% endcomment %}